@font-face {
    font-family: 'suisse_intlsemi_bold';
    src: url('../webfont/suisseintl-semibold-webfont.woff2') format('woff2'),
        url('../webfont/suisseintl-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body,
html {
    width: 100%;
    height: 100%;
    font-family: 'suisse_intlsemi_bold';
}
.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
p {
    font-size: 2rem;
    padding: 100px;
    text-align: justify;
}
h2 {
    opacity: 0.5;
    font-size: 4.1rem;
    text-align: center;
}
.scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    line-height: 45px;
}
.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}
.scroll-to-top:hover {
    opacity: 0.5;
}
.scroll-to-top i {
    font-weight: 800;
}
.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-image: url("../img/portrait_Leo 2.jpg");
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
}
.masthead h1 {
    font-size: 4.1rem;
    margin: 41rem;
    margin-left: 0;
    margin-right: 0;
    color: rgba(250, 250, 250, 0.9);
}
.masthead h3 {
    color: rgba(250, 250, 250, 0.3);
    font-size: 4.1rem;
}
.portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 1rem;
}
.portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.portfolio-item .caption .caption-content {
    color: #fff;
    margin: auto;
}
.portfolio-item .caption .caption-content h2 {
    font-size: 1rem;
    text-transform: uppercase;
    background: #FF0000;
    padding: 15px;
    padding-bottom: : 5px;
    opacity: 0.87;
    margin-bottom: -10px;
    text-align: left;
    margin-left: -30px;
}
.portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 3rem;
    background: #000000;
    padding: 15px;
    opacity: 0.87;
    margin-left: -30px;
    margin-bottom: -100px;
}
.colorblack {
    color: #999
}
/* Media Queries */
@media (min-width:1680.99px) {
    .masthead h1 {
        font-size: 4.1rem;
        margin-top: 42rem;
        margin-left: 0;
        margin-right: 0;
        color: rgba(250, 250, 250, 0.9);
        padding-bottom: : -220rem;
    }
    .masthead h3 {
        color: rgba(250, 250, 250, 0.3);
        font-size: 4.1rem;
        padding-bottom: : 20rem;
        margin-bottom: : 10rem;
    }
}
@media (min-width: 992px) {
    .portfolio-item {
        max-width: none;
        margin: 0;
        margin: auto auto 1rem;
    }
    .portfolio-item .caption {
        -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
        -webkit-clip-path: inset(0px);
        clip-path: inset(0px);
    }
    .portfolio-item .caption .caption-content {
        margin-left: 4rem;
        margin-right: 5rem;
        margin-bottom: 4rem;
    }
    #uppercase {
        font-size: 1rem;
        text-transform: uppercase;
    }
    .portfolio-item img {
        -webkit-transition: -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path: inset(-1px);
        clip-path: inset(-1px);
    }
    .portfolio-item:hover .caption {
        -webkit-clip-path: inset(rem);
        background-color: Black;
    }
    .masthead {
        height: 100vh;
    }
}
@media (max-width: 1900px) and (min-width: 995px) {
    .column {
        max-width: none;
        margin: 0;
    }
    .portfolio-item .caption {
        display: flex;
        height: 105%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
}
}
@media (max-height: 1000px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 4.1rem;
        margin-top: 50rem;
        margin-left: 0;
        margin-right: 0;
        color: rgba(250, 250, 250, 0.9);
        padding-bottom: : -220rem;
    }
    .masthead h3 {
        color: rgba(250, 250, 250, 0.3);
        font-size: 4.1rem;
        padding-bottom: : 20rem;
        margin-bottom: : 10rem;
    }
}
@media (max-height: 970px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 4.1rem;
        margin-top: 38rem;
        margin-left: 0;
        margin-right: 0;
        color: rgba(250, 250, 250, 0.9);
        padding-bottom: : -220rem;
    }
    .masthead h3 {
        color: rgba(250, 250, 250, 0.3);
        font-size: 4.1rem;
        padding-bottom: : 20rem;
        margin-bottom: : 10rem;
    }
}
/* caption Media Query */
@media (max-width:990px) {
    .portfolio-item .caption .caption-content h2 {
        font-size: 1rem;
        text-transform: uppercase;
        background: #FF0000;
        padding: 15px;
        padding-bottom: : 5px;
        margin-bottom: -10px;
        margin-left: 10px;
    }
    .portfolio-item .caption .caption-content p {
        font-weight: 300;
        font-size: 2rem;
        background: #000000;
        padding: 15px;
        padding-bottom: : 5px;
        margin-left: 10px;
    }
    .portfolio-item .caption .caption-content {
        margin-left: 1rem;
        margin-right: 5rem;
        margin-bottom: 1.5rem;
    }
}
@media (max-height: 860px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 4.1rem;
        margin-top: 30rem;
        margin-left: 0;
        margin-right: 0;
        color: rgba(250, 250, 250, 0.9);
        padding-bottom: : -220rem;
    }
    .masthead h3 {
        color: rgba(250, 250, 250, 0.3);
        font-size: 4.1rem;
        padding-bottom: : 20rem;
        margin-bottom: : 10rem;
    }
}
@media (max-height: 750px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 4.1rem;
        margin-top: 27rem;
        margin-left: 0;
        margin-right: 0;
        color: rgba(250, 250, 250, 0.9);
        padding-bottom: : -220rem;
    }
    .masthead h3 {
        color: rgba(250, 250, 250, 0.3);
        font-size: 4.1rem;
        padding-bottom: : 20rem;
        margin-bottom: : 10rem;
    }
}
@media (max-height: 750px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 4.1rem;
        margin-top: 25rem;
        margin-left: 0;
        margin-right: 0;
        color: rgba(250, 250, 250, 0.9);
        padding-bottom: : -220rem;
    }
    .masthead h3 {
        color: rgba(250, 250, 250, 0.3);
        font-size: 4.1rem;
        padding-bottom: : 20rem;
        margin-bottom: : 10rem;
    }
}
@media (max-width:992px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 4.1rem;
        margin-top: 33rem;
        margin-left: 0;
        margin-right: 0;
        color: rgba(250, 250, 250, 0.9);
        padding-bottom: : -220rem;
    }
    .masthead h3 {
        color: rgba(250, 250, 250, 0.3);
        font-size: 4.1rem;
        padding-bottom: : 20rem;
        margin-bottom: : 10rem;
    }
}
@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
    .scroll-to-top {
        opacity: 0;
    }
    #inlineFrameExample {
        width: 500px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width:537px) {
    .masthead h1 {
        font-size: 3.5rem;
        /* margin: 41rem; */
        margin-top: 33rem;
        margin-left: 0;
        margin-right: 0;
        color: rgba(250, 250, 250, 0.9);
    }
    h1 {
        font-size: 3.5rem;
    }
    .masthead h3 {
        color: rgba(250, 250, 250, 0.3);
        font-size: 3.5rem;
        padding-bottom: : 20rem;
        margin-bottom: : 10rem;
    }
    .masthead {
        position: relative;
        max-width: 100%;
        max-height: 96%;
        display: table;
        width: 100%;
        height: auto;
        padding-top: 8rem;
        padding-bottom: 8rem;
        background-image: url("../img/portrait_Leo 2.jpg");
        background-size: contain;
        background-color: black;
        background-position: top;
        background-repeat: no-repeat;
    }
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
iframe {
    border: none;
}
.col-lg-6 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.col-lg-12 {
    padding-left: 7.5px !important;
    padding-right: 7.5px !important;
}
#Portfolio {
    text-align: center;
    font-size: 4.1rem;
    margin-top: 1rem;
}
.fa, .fas {
    font-weight: 1900;
    color: black;
    font-size: 2rem;
}
.fa, .fas:hover {
    opacity: 0.5;
    text-align: center;
}
a:link:hover {
    background-color: transparent;
    text-decoration: none;
}
#Who {
    opacity: 0.95;
}
.fab, .fad, .fal, .far, .fas {
    line-height: 1.5;
}
/* Photo gallery */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 120px;
    margin-bottom: 20px;
}
/* Create four equal columns that sits next to each other */
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 8px;
}
.columnpaysage {
    flex: 50%;
    max-width: 50%;
    padding: 0 8px;
}
.columnportrait {
    flex: 51%;
    max-width: 50.5%;
    padding: 0 8px;
}
.column img {
    margin-top: 16px;
    vertical-align: middle;
    width: 100%;
    margin-right: 20px;
}
.columnpaysaged img {
    margin-top: 16px;
    vertical-align: left;
    width: 200%;
    margin-right: 20px;
}
.columnportrait img {
    margin-top: 16px;
    vertical-align: left;
    width: 200%;
    margin-right: 20px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1550px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 50px;
    }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 850px) {
    .column {
        flex: 100%;
        max-width: 100%;
        align-items: center;
        opacity: 0.5;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
}
@media screen and (max-width: 510px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 4.1rem;
        margin-top: 25rem;
        margin-left: 0;
        margin-right: 0;
        color: rgba(250, 250, 250, 0.9);
        padding-bottom: : -220rem;
    }
    .masthead h3 {
        color: rgba(250, 250, 250, 0.3);
        font-size: 4.1rem;
        padding-bottom: : 20rem;
        margin-bottom: : 10rem;
    }
}
@media screen and (max-width: 550px) {
    .masthead {
        height: 100vh;
    }
    #Portfolio {
        text-align: center;
        font-size: 3.1rem;
        margin-top: 1rem;
    }
    .masthead h1 {
        font-size: 4.1rem;
        margin-top: -2rem;
        margin-left: 0;
        margin-right: 0;
        color: rgba(250, 250, 250, 0.9);
        padding-bottom: : -220rem;
    }
    .masthead h3 {
        color: rgba(250, 250, 250, 0.3);
        font-size: 4.1rem;
        padding-bottom: : 20rem;
        margin-bottom: : 10rem;
    }
}
}
#iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}